<div class="row">
	<div class="offset-md-2 col-md-8 card card-body bg-light">
		<p><%=comment.description%></p>
		<p>
			<span class="quiet"> created: <%= time_ago_in_words(comment.created_at)%> ago by 
									<%= comment.chef.chefname%>	
			</span>
		</p>
	</div>
</div>
<br>