<%= render '/shared/page_title', title: "Chef #{@chef.chefname}'s profile"%>
<% if @chef.recipes.count != 0%>
	<h4 align="center"><%= @chef.chefname%>'s recipes</h4>
	<%= render 'recipes/recipe', obj: @chef_recipes%>

	<div align="center">
		<%= will_paginate @chef_recipes%>
	</div>
<% else %>
	<h4 align="center">No recipes yet!</h4>
<% end %>

