<%= render '/shared/page_title', title: "Showing All Recipes"%>

<div align="center">
	<%= will_paginate%>
</div>
<%= render 'recipe' , obj: @recipes %>
<div align="center">
	<%= will_paginate%>
</div>





 