<%= render '/shared/page_title', title: @recipe.name%>

<div class="card card-body bg-light col-md-8 col-md-offset-2 center_card">
	<h4 class=" center description"><strong>Steps</strong></h4>
	<hr/>
	<%= simple_format(@recipe.description)%>
	<p class="float-right">
		Created by: <%= @recipe.chef.chefname%>
	</p>
	<div class="float-right">
		created <%= time_ago_in_words(@recipe.created_at)%> ago 
	</div>
</div>
<br><br>

